<!doctype html>
<html lang="{{ request.locale | default: 'en' }}">
<head>
  {{ content_for_header }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/learts/assets/css/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  <style>
    :root{
      --sf-primary: {{ settings.accent_color | default: '#0989ff' }};
      --sf-container: {{ settings.container_width | default: 1320 }}px;
    }
  </style>
</head>
<body class="template-{{ template }} sf-body">
  {% section 'header' %}
  <main id="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  <script src="{{ 'theme.js' | asset_url }}" defer></script>
</body>
</html>
